*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(14, 216, 216);
}
h2{
    text-align: center;
}
#container{
    background-color: pink;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    display:inline-block;
    margin: 100px auto auto 300px;
}
#textarea{
    float: center;
    display: flex;
}
.remaining-counter{
    float: left;
}