*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: orange;
    justify-content: center;
}
form{
    background-color: yellow;
    float: center;
    margin: 100px auto auto 200px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px ;
}
small{
    visibility: hidden;
}
button{
    background-color: rgb(18, 147, 18);
}
.form-control-error small{
    border: solid red;
    visibility: visible;
}
.form-control-success small{
    border: solid green;
    visibility: hidden;
}

